.mainSection {
    /* background-color: aquamarine; */
    /* margin: 5%; */
    /* border: 1px solid #000;
    border-radius: 5vh; */
    width: 95%;
    height: 95vh;
    align-items: center;
    align-content: center;
    /* margin-top: 10px; */
}

.heading {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 42%;
    margin-right: 2%;
}

.header {
    margin: 0;
    text-align: center;
}

.buttons {
    margin-left: auto;
}

.headingButton {
    background-color: #000;
    color: ghostwhite;
    padding: 10px;
    font-size: large;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
}

.headingButton:hover{
    background-color: cornsilk;
    color:#000;
}

.taskCardButton {
    align-items: center;
    background-color: #000;
    color: ghostwhite;
    padding: 10px;
    font-size: large;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
}

.taskCardButton:hover {
    background-color: ghostwhite;
    color: #000;
}

.taskSection {
    display: flex;
    background-color: ghostwhite;
    margin: 2%;
    border: 1px solid #000;
    border-radius: 5vh;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

.taskCard {
    background-color: cornsilk;
    border: 1px solid #000;
    border-radius: 5vh;
    padding: 2%;
    margin: 2% 2%;
    display: grid;
    gap: 10px;
    width: auto;
    grid-template-columns: auto auto;
    max-width: 250px;
}

/* .taskCardUpper {
    display: grid;
    gap: 10px;
    width: auto;
    grid-template-columns: auto auto;
} */

.taskCardDescription {
  grid-column-start: 1;
  grid-column-end: 3;
  word-wrap:break-word;
  max-width: 250px;
}

.taskCompleted {
    font-size: large;
    font-weight: bold;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.popupContent {
    background-color: #ddd;
    padding: 50px;
    max-width: 500px;
    border-radius: 25px;
}
  
.popup h2 {
    margin-top: 0;
}
  
.popup form {
    display: flex;
    flex-direction: column;
}
  
.popup label {
    margin-bottom: 5px;
}
  
.popup input {
    margin-bottom: 10px;
    padding: 5px;
}
  
.popupButtons {
    display: flex;
    justify-content: flex-end;
}
  
.popupButtons button {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
}

.dashboardButton {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
}
  
.dashboardButton:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}